*{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color: #f2ede3;
    font-family: Arial, Helvetica, sans-serif;
    content: #0a1a2a;
}
.profile{
    background-color: #f2ede3;
    height: 450px;
    padding: 80px;
    color: #f2ede3;
}
.profile h1{
    font-size: 45px;
    margin-top: 60px;
    color: #0a1a2a;
}
.profile h2{
    color:#b08d57;
}
.profile p{

    width: 500px;
    line-height: 1.6;
    color: #2b556e;
}
.img{
    height:300px;
    width:300px;
    border-radius: 50% 20% 50% 20%;
    object-fit:cover;
    border:8px solid #b08d57;
     float: right;
     margin-top: -240px;
     margin-right: 20px;
     transition: 0.4s;
}
.img:hover{
    box-shadow:0 10px 30px #b08d57;
    transform: scale(1.08) ;

}
button{
    background-color: #b08d57;
    color: #0a1a2a;
    border: none;
    padding: 12px 28px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}
.edu{
    background-color: #f2ede3;
    padding:70px 10%;
    text-align: center;
}
.edu h2{
    color: #0a1a2a;
    font-size: 35px;
}
.edu ul{
    display: inline-block;
    width: 600px;
    margin: 20px auto;
    padding: 25px 35px;
    background-color: #f2ede3;

    border-top: 5px solid #b08d57;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 5px 30px rgba(10,26,42,0.15);
}
.edu li{
    margin: 12px;
    color: #2b556e;
}
.edu:hover ul{
    box-shadow: 0 10px 30px #b08d57;
}
.card{
    text-align: center;
    padding: 70px 8%;
    background-color: #f2ede3;
}
.skill,.hobi{

    display: inline-block;
    width: 250px;
    height:220px;
    margin: 15px;
    padding: 25px;
    background-color: white;
    border-top: 5px solid #b08d57;
    border-radius: 10px;
    box-shadow: 0 5px 20px #ccc;
    vertical-align: top;
    transition: 0.3s;
}
.skill h2,.hobi h2{
    color: #17324a;
}
.skill li,.skill li{
    color: #2b556e;
    margin: 10px;
}
.skill:hover,.hobi:hover{
    transition:1s;
    background-color: #17324a;
    color: white;
    box-shadow: 0 10px 10px;
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #b08d57;
}
.skill:hover h2,.hobi:hover h2{
    color: white;
    font-weight: bold;
}
.skill:hover li,.hobi:hover li{
    color: white;
}